/* Text */
.title {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  color: #FFFFFF;
}

.subtitle{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;

  color: #FFFFFF;
}

/* Edge */
.edge-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
}

.homepage-title{
  position: absolute;
  top: 1vh;
  left: 40vw;
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  font-size: 4.5vw;
  text-align: center;
  
  color: #FFFFFF;
}

.team-matrix-title{
  position: absolute;
  top: 1vh;
  left: 40vw;
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  font-size: 4.5vw;
  text-align: center;
  
  color: #FFFFFF;
}
