/* Text*/
.homepage-title{
    position: absolute;
    top: 1vh;
    left: 40vw;
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5vw;
    line-height: 76px;
    text-align: center;
    
    color: #FFFFFF;
}

.team-matrix-title{
    position: absolute;
    top: 1vh;
    left: 40vw;
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5vw;
    line-height: 76px;
    text-align: center;
    
    color: #FFFFFF;
}