@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.text-inside {
    opacity: 0.11;
    font-size: 32px;
    left: 605px;
    position: absolute;
}

.text-outside {
    position: absolute;
    top: 705px;
    left: 595px;
    opacity: 0.11;
    font-size: 32px;
}

.text-towards {
    position: absolute;
    top: 330px;
    left: 1160px;
    opacity: 0.11;
    font-size: 32px;
}

.text-away {
    position: absolute;
    top: 330px;
    opacity: 0.11;
    font-size: 32px;
}

.infiniteCanvas {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.line-x {
    position: absolute;
    top: 50%;
    left: -40%;
    right: -40%;
    height: 2px;
    background-color: #2D2D2D;
    width: 180%
}

.arrow-x {
    position: absolute;
    top: 50%;
    right: -40%;
    width: 60px;
    transform: translateY(-50%)  translateX(50%) rotate(180deg);
}

.arrow-x-negative{
    position: absolute;
    top: 50%;
    right: 140%;
    width: 60px;
    transform: translateY(-50%)  translateX(50%)
}

.away{
    position: absolute;
    top: 35%;
    right: 130%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2vw;
}


.towards{
    position: absolute;
    top: 35%;
    right: -35%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2vw;
}

.inside{
    position: absolute;
    top: -60%;
    right: 47%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2vw;
}


.outside{
    position: absolute;
    top: 145%;
    right: 46%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2vw;
}

.line-y {
    position: absolute;
    left: 50%;
    top: -40%;
    bottom: -40%;
    width: 2px;
    background-color: #2D2D2D;
    
}
.arrow-y {
    position: absolute;
    left: 50%;
    bottom: -40%;
    width: 60px;
    transform: translateY(50%)  translateX(-50%) rotate(270deg);
}

.arrow-y-positive {
    position: absolute;
    left: 50%;
    bottom: 140%;
    width: 60px;
    transform: translateY(50%)  translateX(-50%) rotate(90deg);
}


.grabbing {
    cursor: grabbing;
}

.outer-infinite {
    background: #faf9f6;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; /* To hide the zoomed-out parts */
}

.outer-infinite {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#d2d6db 2px, transparent 1px);
    background-size: 20px 20px; /* adjust size */
    background-position: 0 0, 5px 5px; /* adjust position */
}

.actImage {
    position: absolute;
    width: 1100px;
    height: 700px;
    top: 10%;
    left: 10%;
}

.act-axis {
    width: 3000px;
    height: 3000px;
    position: absolute;
    left: 0px;
    top: 0px;
}
