@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
.ACTMatrix {
    background: #d1d1d1;
    width: 80%; /* width: 1406px; */
    height: 80%; /* height: 702px; */
    background-image: url("../assets/paper-background.jpg");
    position: absolute;
    box-sizing: border-box;
    border-radius: 0;
    left: 150px;
    top: 150px;
}

.line-x {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000;
    transform-origin: center center;
}

.line-y {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #000;
    transform-origin: center center;
}

.text-inside {
    opacity: 0.11;
    font-size: 32px;
    left: 605px;
    position: absolute;
}

.text-outside {
    position: absolute;
    top: 705px;
    left: 595px;
    opacity: 0.11;
    font-size: 32px;
}

.text-towards {
    position: absolute;
    top: 330px;
    left: 1160px;
    opacity: 0.11;
    font-size: 32px;
}

.text-away {
    position: absolute;
    top: 330px;
    opacity: 0.11;
    font-size: 32px;
}


.infiniteCanvas {
    background: #d1d1d1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.infiniteCanvas.grabbing {
    cursor: grabbing;
}

.outer-infinite{
    background: #d1d1d1;
    position: absolute;
    width: 100%; 
    height: 100%; 
    overflow: hidden; /* To hide the zoomed-out parts */
}