.draggable-container {
    padding: 1.4vh;
    position: fixed;
    top: 35vh; /* Adjusted for the new positioning */
    left: 4vh;
    height: 30vh; /* Adjusted for the new height */
    width: 4.5vh; /* Adjusted for the new width */
    border: 1px solid; /* Added "solid" for border style */
    background-color: #2D2D2D;
    box-shadow: 0.2vh 0 1vh rgb(0 0 0 / 30%);
    z-index: 999;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Evenly space items vertically */
}

.emoji-container{
    position: absolute;
    top: 13vh; /* Position the emoji picker below the emoji icon */
    left: 8vh;
    width: 70%;
    max-width: 100%; 

}

.sheet:hover {
    opacity: 0.5;
}

.text:hover {
    opacity: 0.5;
}

.edit:hover {
    opacity: 0.5;
}

.move:hover {
    opacity: 0.5;
}
