.textButton {
  box-sizing: border-box;
  background-color: transparent;

  width: 25vw;
  height: 8vh;
  border: 3px solid #FFFFFF;
  border-radius: 40px;

  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;

  color: #FFFFFF;

}

.textButton:hover{
  cursor: pointer;
}
  
.textButton:hover {
  background-color: grey;
}

.iconButton {
  background-color: transparent;  
  border: none;
}

.iconButton svg{
  margin-top: 1vh;
  width: 5vw;
  height: 5vh;
  color: white;
}

.edge-button {
  position: absolute;
  height: 2rem;
  bottom: 0;
  left: -4.5rem;
  top: -3.5rem;
  transform: rotate(-45deg);
  border: none;
  background-color: transparent;

}


.edge-button:hover{
  cursor: pointer;
}