.checkbox-wrapper input[type="checkbox"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 0.15em;
    margin-right: 10px;
    border: 0.15em solid white;
    outline: none;
    cursor: pointer;
}
  
input:checked {
    background-color: white;
    position: relative;
}
  
input:checked::before {
    content: '\2713';
    font-size: 1.5vw;
    color: #22A7FF;
    position: absolute;
    right: 1px;
    top: -3px;
}
  


.checkbox-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkboxLabel{
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 25px;

    color: #FFFFFF;
}
