.create-team-matrix{
    display: flex;
    flex-direction: column;
    background-color: #beafe1;
    height: 100vh;
    
}

.team-matrix-top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 10vh;
    width: 100vw;
}

.team-matrix-mid{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.team-matrix-split-left{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50vw;
}

.team-matrix-split-right{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}


/* Text */
.team-matrix-heading{
    font-weight: 400;
    font-size: 4vw;
    margin-bottom: 3vh;
    color: #FFF;
}

/* Input */
.team-matrix-input-wrapper{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
}

.team-matrix-input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.team-matrix-button-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.team-matrix-input{
    width: 24vw;
    height: 5vh;
    outline: none;
    border: 1px solid #D5D8DE;
    border-radius: 5px;
}

.team-matrix-input::placeholder{
    font-size: 1vw;
    color: #323941;
}


.team-matrix-input:focus {
    border: 2px solid #555;
    outline: none;
}


.icon-button{
    color: white;
    font-size: 3vw;
    margin-top: 2vh;
    margin-right: 2vw;
}


/* Image */
.team-matrix-split-right img{
    height: 40vh;
    width: 40vh;
}

@media only screen and (width <= 844px) {
    .team-matrix-split img {
        width: 15vh;
        height: 15vh;
    }
  }