.homepage{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left{
    width: 50vw;
    background-color: #c8d3b8;
}


.right{
    width: 50vw;
    background-color: #beafe1;
}

.homepage-split-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.homepage-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.homepage-img-container img{
    width: 20vh;
    height: 20vh;
}


.homepage-content{
    margin-left: 5vw;
    height: 80vh;
}

.homepage-content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10vh;
}

.homepage-content-button{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10vh;
    height: 20vh;
}

/* Text */

.homepage-subheading{
    font-weight: 400;
    font-size: 1.5vw;
    color: #FFFFFF;
}

/* Image */
