.timerContainer{
    display: flex;
    flex-direction: row;
}

.timerContainer:hover{
    cursor: pointer;
}

.timerIcon{
    width: 24px;
    height: 24px;
}

.timer{
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.9px;
}

.timerModal{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: rgba(190, 175, 225, 0.4);

}

.timerWrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: auto
}

.timerInput{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.9px;
}

.timerButton{
    width: 5vw;
    height: 5vh;
}


/* Timer Finished Animation */
@keyframes shakeAndColorChange {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(5px);
    }
  }

  @keyframes textChange {
    0% {
      color: initial; /* Start with initial text color */
    }
    100% {
      color: red; /* End with red text color */
    }
  }

  @keyframes textBlink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
  
  .timerContainer.timerFinished .timerIcon{
    animation-name: shakeAndColorChange, textChange;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    animation-delay: 0.1s;
    animation-fill-mode: both;
  }

  .timerContainer.timerFinished .timer {
    animation-name: shakeAndColorChange, textBlink;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    animation-delay: 0.1s;
    animation-fill-mode: both;
    color: red; /* Ensure text is red after animation */
}

.questionInput{
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.9px;
  width: 40%;
  border: none;
  outline: none;
  resize: none;
  overflow-y: scroll;
  height: auto;
  text-align: center;
}

/* Style for scrollbar thumb (the part you drag) */
.questionInput::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
}

/* Style for scrollbar track (the background) */
.questionInput::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Width and height of the scrollbar */
.questionInput::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.whiteTextbox{
  min-height: 40px;  
  padding: 6px 8px;
  gap: 18px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #E6E7E9;
  background: #FFF;
  box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.15);
}

.centreText{
  display: flex;
  align-content: center;
  justify-content: center;
}

.reviewPin{
  width: 30px;
  height: 30px;
  padding: 0px;
}