.timerContainer{
    display: flex;
    flex-direction: row;
}

.timerContainer:hover{
    cursor: pointer;
}

.timerIcon{
    width: 24px;
    height: 24px;
}

.timer{
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.9px;
}

.timerModal{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    
}

.timerWrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.timerInput{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.9px;
}

.timerButton{
    width: 5vw;
    height: 5vh;
}