.welcome-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #22A7FF;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/teamoji.png");
    background-position: center center;
}