.container {
    width: 1406px;
    height: 702px;
    background-color: white;
    position: absolute;
    box-sizing: border-box;
    border-radius: 100px;
    left: 150px;
    top: 150px;
}

.line-x {
    width: 1271px;
    height: 0px;
    border-bottom: 3px solid black;
    position: absolute;
    left: 65px;
    top: 351px;
}

.line-y {
    width: 0px;
    height: 612px;
    border-right: 3px solid black;
    position: absolute;
    left: 703px;
    top: 45px;
}

@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

.text-inside {
    font-family: "Racing Sans One", cursive;
    opacity: 0.11;
    font-size: 32px;
}

.text-outside {
    position: absolute;
    top: 650px;
    left: 650px;
    font-family: "Racing Sans One", cursive;
    opacity: 0.11;
    font-size: 32px;
}

.text-towards {
    position: absolute;
    top: 310px;
    left: 1250px;
    font-family: "Racing Sans One", cursive;
    opacity: 0.11;
    font-size: 32px;
}

.text-away {
    position: absolute;
    top: 310px;
    left: 50px;
    font-family: "Racing Sans One", cursive;
    opacity: 0.11;
    font-size: 32px;
}
